core/xml/core.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
   targetNamespace="http://www.opengis.net/ogcapi-features-1/1.0"
   xmlns:core="http://www.opengis.net/ogcapi-features-1/1.0"
   xmlns:atom="http://www.w3.org/2005/Atom"
   xmlns:xlink="http://www.w3.org/1999/xlink"
   xmlns:xml="http://www.w3.org/XML/1998/namespace"
   elementFormDefault="qualified" version="1.0.1">
   <xsd:annotation>
      <xsd:documentation>This XML Schema Document includes and imports,
      directly or indirectly, all the XML schemas defined by
      OGC API - Features - Part 1: Core, with the exception of
      the XML schema for the GML-Simple-Feature-conformant feature
      collection element, which has to be defined in a separate
      XML namespace to conform with the requirements of the GML
      Simple Feature standard.

      Copyright (c) 2019 Open Geospatial Consortium.
      To obtain additional rights of use, visit
      http://www.opengeospatial.org/legal/ .
      </xsd:documentation>
   </xsd:annotation>
   <!-- ==============================================================
        Includes and Imports
        ============================================================== -->
   <xsd:import namespace="http://www.w3.org/XML/1998/namespace"
    schemaLocation="http://www.w3.org/2001/xml.xsd"/>
   <xsd:import namespace="http://www.w3.org/1999/xlink"
    schemaLocation="http://www.w3.org/1999/xlink.xsd"/>
   <xsd:import namespace="http://www.w3.org/2005/Atom"
    schemaLocation="http://schemas.opengis.net/kml/2.3/atom-author-link.xsd"/>

   <!-- ================================================================== -->
   <!-- =   LandingPage element                                          = -->
   <!-- ================================================================== -->
   <xsd:element name="LandingPage" type="core:LandingPageType"/>
   <xsd:complexType name="LandingPageType">
      <xsd:complexContent>
         <xsd:extension base="core:BaseResponseType">
            <xsd:sequence>
               <xsd:element ref="core:Title" minOccurs="0"/>
               <xsd:element ref="core:Description"  minOccurs="0"/>
               <xsd:element ref="atom:link"
                            minOccurs="0" maxOccurs="unbounded"/>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>

   <!-- ================================================================== -->
   <!-- =   ConformsTo element                                           = -->
   <!-- ================================================================== -->
   <xsd:element name="ConformsTo" type="core:ConformsToType"/>
   <xsd:complexType name="ConformsToType">
      <xsd:complexContent>
         <xsd:extension base="core:BaseResponseType">
            <xsd:sequence>
               <xsd:element ref="atom:link"
                            minOccurs="1" maxOccurs="unbounded"/>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>

   <!-- ================================================================== -->
   <!-- =   Collections element                                          = -->
   <!-- ================================================================== -->
   <xsd:element name="Collections" type="core:CollectionsType"/>
   <xsd:complexType name="CollectionsType">
      <xsd:complexContent>
         <xsd:extension base="core:BaseResponseType">
            <xsd:sequence>
               <xsd:element ref="atom:link"
                            minOccurs="0" maxOccurs="unbounded"/>
               <xsd:element name="Collection"
                            type="core:CollectionType"
                            maxOccurs="unbounded"/>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="CollectionType">
      <xsd:sequence>
         <xsd:element name="Id" type="xsd:string"/>
         <xsd:element name="ItemType" type="xsd:string"/>
         <xsd:element ref="core:Title" minOccurs="0"/>
         <xsd:element ref="core:Description" minOccurs="0"/>
         <xsd:element ref="atom:link" minOccurs="0" maxOccurs="unbounded"/>
         <xsd:element ref="core:Extent" minOccurs="0"/>
         <xsd:element name="Crs" type="xsd:anyURI"
                      minOccurs="0" maxOccurs="unbounded"/>
         <xsd:element name="StorageCrs" type="xsd:anyURI" minOccurs="0"/>
      </xsd:sequence>
   </xsd:complexType>

   <!-- ================================================================== -->
   <!-- =   Exception Report (copied from OWS common 2.0.2)              = -->
   <!-- ================================================================== -->
   <xsd:element name="ExceptionReport">
      <xsd:complexType>
         <xsd:sequence>
            <xsd:element ref="core:Exception" maxOccurs="unbounded"/>
         </xsd:sequence>
         <xsd:attribute name="version">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:pattern value="\d+\.\d?\d\.\d?\d" />
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:attribute>
         <xsd:attribute ref="xml:lang"/>
      </xsd:complexType>
   </xsd:element>
   <xsd:element name="Exception" type="core:ExceptionType"/>
   <xsd:complexType name="ExceptionType">
      <xsd:sequence>
         <xsd:element name="ExceptionText" type="xsd:string"
                      minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
      <xsd:attribute name="exceptionCode" type="xsd:string" use="required"/>
      <xsd:attribute name="locator" type="xsd:string"/>
   </xsd:complexType>

   <!-- ========================================================== -->
   <!-- = BASE RESPONSE TYPE                                     = -->
   <!-- ========================================================== -->
   <xsd:complexType name="BaseResponseType" abstract="true">
      <xsd:attribute name="service" type="xsd:string" />
      <xsd:attribute name="version" type="core:VersionStringType"/>
      <xsd:attribute name="updateSequence" type="xsd:string"/>
   </xsd:complexType>
   <xsd:simpleType name="VersionStringType">
      <xsd:restriction base="xsd:string">
         <xsd:pattern value="1\.0\.\d+"/>
      </xsd:restriction>
   </xsd:simpleType>

   <!-- ========================================================== -->
   <!-- = EXTENT TYPE                                            = -->
   <!-- ========================================================== -->
   <xsd:element name="Extent" type="core:ExtentType"/>
   <xsd:complexType name="ExtentType">
      <xsd:sequence>
         <xsd:element ref="core:SpatialExtent"
                      minOccurs="0" maxOccurs="unbounded"/>
         <xsd:element ref="core:TemporalExtent"
                      minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:element name="Spatial"
                type="core:WGS84BoundingBoxType"
                substitutionGroup="core:SpatialExtent"/>
   <xsd:element name="Temporal"
                type="core:GregorianPeriodType"
                substitutionGroup="core:TemporalExtent"/>

   <!-- ========================================================== -->
   <!-- = SPATIAL EXTENT TYPES (based on OWS Common 2.0.2)       = -->
   <!-- ========================================================== -->
   <xsd:element name="SpatialExtent"
                type="core:SpatialExtentType" abstract="true"/>
   <xsd:complexType name="SpatialExtentType" abstract="true"/>
   <xsd:complexType name="BoundingBoxType">
      <xsd:complexContent>
         <xsd:extension base="core:SpatialExtentType">
            <xsd:sequence>
               <xsd:element name="LowerCorner" type="core:PositionType"/>
               <xsd:element name="UpperCorner" type="core:PositionType"/>
            </xsd:sequence>
            <xsd:attribute name="crs" type="xsd:anyURI"/>
            <xsd:attribute name="dimensions" type="xsd:positiveInteger"/>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="WGS84BoundingBoxType">
      <xsd:complexContent>
         <xsd:restriction base="core:BoundingBoxType">
            <xsd:sequence>
               <xsd:element name="LowerCorner" type="core:PositionType2D"/>
               <xsd:element name="UpperCorner" type="core:PositionType2D"/>
            </xsd:sequence>
            <xsd:attribute name="crs" type="xsd:anyURI"
                 fixed="http://www.opengis.net/def/crs/OGC/1.3/CRS84"/>
            <xsd:attribute name="dimensions" type="xsd:positiveInteger"
                 fixed="2"/>
         </xsd:restriction>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:simpleType name="PositionType">
      <xsd:list itemType="xsd:double" />
   </xsd:simpleType>
   <xsd:simpleType name="PositionType2D">
      <xsd:restriction base="core:PositionType">
         <xsd:length value="2" />
      </xsd:restriction>
   </xsd:simpleType>

   <!-- ========================================================== -->
   <!-- = TEMPORAL EXTENT TYPES (copied & modified from CSW 3.0) = -->
   <!-- ========================================================== -->
   <xsd:element name="TemporalExtent"
                type="core:TemporalExtentType" abstract="true"/>
   <xsd:complexType name="TemporalExtentType" abstract="true"/>
   <xsd:complexType name="TemporalPeriodType">
      <xsd:complexContent>
         <xsd:extension base="core:TemporalExtentType">
            <xsd:sequence>
               <xsd:element ref="core:begin" minOccurs="0"/>
               <xsd:element ref="core:end" minOccurs="0"/>
            </xsd:sequence>
            <xsd:attribute name="trs" type="xsd:anyURI"/>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="GregorianPeriodType">
      <xsd:complexContent>
         <xsd:restriction base="core:TemporalPeriodType">
            <xsd:sequence>
               <xsd:element ref="core:begin" minOccurs="0"/>
               <xsd:element ref="core:end" minOccurs="0"/>
            </xsd:sequence>
            <xsd:attribute name="trs" type="xsd:anyURI"
                 fixed="http://www.opengis.net/def/uom/ISO-8601/0/Gregorian"/>
         </xsd:restriction>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:element name="begin">
      <xsd:complexType>
         <xsd:simpleContent>
            <xsd:extension base="xsd:dateTime">
               <xsd:attribute name="inclusive"
                              type="xsd:boolean" default="true"/>
            </xsd:extension>
         </xsd:simpleContent>
      </xsd:complexType>
   </xsd:element>
   <xsd:element name="end">
      <xsd:complexType>
         <xsd:simpleContent>
            <xsd:extension base="xsd:dateTime">
               <xsd:attribute name="inclusive"
                              type="xsd:boolean" default="true"/>
            </xsd:extension>
         </xsd:simpleContent>
      </xsd:complexType>
   </xsd:element>

   <!-- ========================================================== -->
   <!-- = TITLE, DESCRIPTION & LANGUAGE STRING TYPES             = -->
   <!-- ========================================================== -->
   <xsd:element name="Title" type="core:LanguageStringType"/>
   <xsd:element name="Description" type="core:LanguageStringType"/>
   <xsd:complexType name="LanguageStringType">
      <xsd:simpleContent>
         <xsd:extension base="xsd:string">
            <xsd:attribute ref="xml:lang" use="optional">
               <xsd:annotation>
                  <xsd:documentation>If this attribute is not specified then the language used for the string can be determined using the usual HTTP language negotiation mechanisms.</xsd:documentation>
               </xsd:annotation>
            </xsd:attribute>
         </xsd:extension>
      </xsd:simpleContent>
   </xsd:complexType>
</xsd:schema>
